---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 6
TabWidth: 6
UseTab: Never
ContinueIndentWidth: 6
BreakBeforeBraces: Allman
ColumnLimit: 100
SortIncludes: true
DerivePointerAlignment: false
PointerAlignment: Right
SpaceBeforeCppLambdaBrackets: true
SpaceBeforeAssignmentOperators: true
SpacesInAngles: false
SpacesInContainerLiterals: false
---
